!!!
%html
  %head
    %title DiRT: Directi RT
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/dirt.css")
    %script( type="text/javascript" src="/js/jquery-min.1.9.1.js")  
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.active.brand.head_title(href='/') DiRT
          %ul.nav.pull-right
            - if(defined? session[:user_id])
              %li
                %a(href='/profile/view') Profile
              %li
                %a(href='/logout') Logout
            - if(!defined? session[:user_id])
              %li
                %a(href='/login') Login
            %li
              %a(href='/static/help') Help
            %li
              %form.navbar-search.pull-left
                %input.search-query{placeholder: "Search", type: "text"}
    .container
      =yield
    
      #footer.span12
        %hr
        %p.small
          %a{href:"http://www.github.com/botsie/dirt"} Dirt 
          &copy; 2012-2013 Biju Chacko

    
