!!!
%html
  %head
    %title DiRT: Directi RT
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/dirt.css")
    %script{type: "text/javascript", src: "/js/jquery-min.1.9.1.js"}
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.brand(href='/') DiRT: Directi RT
  .container
    =yield
  
    #footer.span12
      %hr
      %p.small
        %a{href:"http://www.github.com/botsie/dirt"} Dirt 
        &copy; 2012-2013 Biju Chacko
  

    
