!!!
%html
  %head
    %title DiRT: Directi RT
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/dirt.css")
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.brand(href='#') DiRT: DirectiRT
  .container
    =yield
  
  #footer.span12
    %hr
    %p.small
      DiRT: Direct RT &copy;2012 Directi Inc
  

    
