!!!
%html
  %head
    %title RT Card Wall
    %link(rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    %link(rel="stylesheet" href="/rt-card-wall.css")
%body
  .topbar
    .topbar-inner
      .container-fluid
        %a.brand(href='#') RT Card Wall
  .container-fluid
    =yield
  
    %hr
    #footer.span-24
      %p.small
        RT Dashboard &copy;2011 Directi
  

    
