!!!
%html
  %head
    %title DiRT: Directi RT
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/rt-card-wall.css")
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %a.brand(href='#') DiRT: DirectiRT
  .container
    %h4=@project
    .tab-bar
      %ul.nav.nav-tabs
        - @tab_spec.each do |tab|
          %li{:class => "#{tab[:class]} f"}
            %a{href: "./#{tab[:page]}"}=tab[:caption]
    =yield
  
    #footer.span12
      %hr
      %p.small
        DiRT: Direct RT &copy;2012 Directi Inc
  

    
