!!!
%html
  %head
    %title DiRT: Directi RT
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    %link(rel="stylesheet" href="/css/dirt.css")
    %script( type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")  
    %script( type="text/javascript" src="/bootstrap/js/bootstrap.min.js")
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.active.brand.head_title(href='/') DiRT
          -# %ul.nav.pull-left
          -#   %li
          -#     %form.navbar-search.pull-left
          -#       %input.search-query{placeholder: "Search", type: "text"}
          %ul.nav.pull-right
            - if(defined? @session[:user_id])
              %li
                %a(href='/profile/me')
                  =@session[:user_id]
              %li.dropdown
                %a.dropdown-toggle{data: {toggle: 'dropdown'}, id: "dLabel"}
                  %i{class: "icon-cog icon-white"}
                  Settings
                %ul.dropdown-menu{role: "menu", aria: {labelledby:"dLabel"} }
                  -# %li
                  -#  %a(href="") History
                  %li
                    %a(href='/profile/edit') Settings
                  %li
                    %a(href="/static/help/home") Help
                  %li.divider
                  %li
                    %a(href='/logout') Logout

            - if(!defined? @session[:user_id])
              %li
                %a(href='/login') Login

    .container
      =yield
    
      #footer.span12
        %hr
        %p.small
          %a{href:"http://www.github.com/botsie/dirt"} Dirt 
          &copy; 2012-2013 Biju Chacko

  %script( type="text/javascript" src="/js/main.js")
