.login-container.container
  .row
    .span6.offset3
      - if not @success_message.nil?
        .alert.alert-success
          %strong Success
          =@success_message
      - if not @failure_message.nil?
        .alert.alert-error
          %strong Error
          =@failure_message
  .row
    .span6.offset3
      .well
        %form.form-horizontal{:method => "POST", :action => "/login"}
          %legend Login
          .control-group
            %label.control-label{:for => "user_id"} Username
            .controls
              %input{:type => "text", :name => "user_id", :placeholder => "RT username", :autofocus => "autofocus"}
          .control-group
            %label.control-label{:for => "password"} Password
            .controls 
              %input{:type => "password", :name => "password", :placeholder => "RT password" }
          .control-group
            .controls
              %button.btn.btn-primary{:type => "submit"} Sign in
          %input{:type => "hidden", :name => "redirect_to", :value => "#{@redirect_to}"}
