body {
    padding-top: 40px;
}

@font-face {
    font-family: "Pacifico";
    src: url(/css/Pacifico.ttf) format("truetype");
}

.navbar-inverse .head_title{
    font-family: "Pacifico";
    color: #ccc;
    padding: 17px;
    font-size: 25px;
    margin-left: 10px;
}

.login-container {
    padding-top: 3em;
}

body>.container {
    padding-top: 40px;
}

.card-border {
    border-right: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;    
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    width: 82px;
    height: 69px;
    padding: 0px;
    font-size: 9px;
    margin: 2px;
    float: left;
}

.card {
    margin: 0px;
    padding: 3px;
    background: #ffffed;
    font-size: 9px;
    width: 67px;
    height: 63px;
}

.card p {
    font-size: 9px;
    line-height: 125%;
    margin: 0.3em
}

.col {
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}

.cardwall-sidebar {
    background: #cccccc;
    padding: 3px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
}

.sidebar-form legend {
    font-size: 14px;
}

.fieldset-header {
    padding: 2px;
    border-bottom: 1px solid #bbb;
}

.card-subject {
    border-bottom: 1px dotted #333;
    position: relative;
    cursor: pointer;
}

/*
.card-subject:hover:after {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.85);
    padding: 3px 7px;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 7px;
    margin-top: -3px;
}

*/


.old {
    border-left: 1em solid #DF4F49;
}

.this-month {
    border-left: 1em solid #FAA732;
}

.this-week {
    border-left: 1em solid #5BB75B;
}

