body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 40px;
}


/*@font-face {
    font-family: "Pacifico";
    src: url(/css/Pacifico.ttf) format("truetype");
}
*/

.navbar-inverse .head_title{
    font-family: "Impact","Arial Bold","Helvetica",sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 10px;
}

.login-container {
    padding-top: 3em;
}

body>.container {
    padding-top: 40px;
}

.card-border {
    border-right: 0px solid #D1D1D1;
    border-left: 0px solid #D1D1D1;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 0px solid #D1D1D1;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.4);   
    width: 250px;
    height: 60px;
    padding: 0px;
    margin: 3px;
    float: left;
    z-index: 10;
    /*font-size: 12px;*/
    /*-webkit-border-radius: 0px 0px 0px 0px;*/
    /*-moz-border-radius: 0px 0px 0px 0px;*/
    /*border-radius: 0px 0px 0px 0px;*/
}

.card {
    margin: 0px;
    padding: 3px;
    background: #FFFFD5;
    /*font-size: 12px;*/
    width: 241px;
    height: 54px;
}

.card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 125%;
    margin: 0.3em
}

.card-text {
    width: 75%;
}

.card-subject {
    /*border-bottom: 1px dotted #333;*/
    position: relative;
    cursor: pointer;
}

.card-owner {
    text-align: right;
}

.old {
    border-left: 3px solid #DF4F49;
}

.this-month {
    border-left: 3px solid #FAA732;
}

.this-week {
    border-left: 3px solid #5BB75B;
}

.col {
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}

.cardwall-sidebar {
    background: #cccccc;
    padding: 3px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
}

.sidebar-form legend {
    font-size: 14px;
}

.fieldset-header {
    padding: 2px;
    border-bottom: 1px solid #bbb;
}


.kanban th {
    text-align: center;
    background: #EFEFEF;
}

.kanban .subcat {
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #eaeaea;
    margin: 0px;
    padding: 0px;
}

/*.sn {
    min-height: 79px;
    width: 0px;
    display: block;
    float: left;
}
*/
#ajax-status {
    position: fixed;
    top: 43px ;
    right: 20px;
    padding: 3px;
    border: none;
    visibility: hidden;
}

.icon-eye {
  display: inline-block;
  background-image: url("/images/btn-sprite.png");
  background-position: 0px 0px;
  height: 13px;
  width: 13px;
}

#name {
  font-size: 20px;
  font-weight: bold;
}

#team {
  font-size: 16px;
}

.profile-pic{
  height: 215px;
  width: 215px;
}

[draggable=true] {
  -khtml-user-drag: element;
}

#ace-editor{
  height: 490px;
  border: solid #999 2px;
}

/* Over ride bootstrap css */
.wiki-page-content [class*=span], .wiki-page-content {
    margin-left: 0px;
}

#taskboardModal {
  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 1050;
  width: 960px;
  margin: 0 0 0 -480px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.icon-gray{
  opacity: 0.5;
}

.popover {
  width: 300px;
}

.kanban {
  margin-left: 0px;
  overflow: auto;
}
