body {
    padding-top: 40px;
}


.card {
    border: 1px solid #ddd;
    font-size: 9px;
    padding: 3px;
    margin-bottom: 5px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background: #ffffe0
}

.card p {
    font-size: 9px;
    line-height: 125%;
}

.taskboard-lanes {
    text-align: center;
    background-color: #bbbbbb;
}

.taskboard-streams {
    border-bottom: 1px solid #dddddd;
}

.col {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.cardwall-sidebar {
    background: #cccccc;
    padding: 3px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
}

.sidebar-form legend {
    font-size: 14px;
}

.fieldset-header {
    padding: 2px;
    border-bottom: 1px solid #bbb;
}
