%h5=caption
#container
%script{type: "text/javascript"}
	var caption = "#{caption}";
	var graphdata = #{info};
	console.log(graphdata);
%script{type: "text/javascript", src: "/js/highcharts.js"}
%script{type: "text/javascript", src: "/js/barchart.js"}
