%h5=caption
%table.table.table-striped.table-bordered.table-condensed.span12
  %tr
    %th{class: "#{span}"}
    - lanes.each do |lane|
      %th{class: "#{span}"}=lane
  - streams.each do |stream|
    %tr
      %th=stream[:Subject]
      - lanes.each do |lane|
        %td
          - cards(:stream => stream, :lane => lane).each do |card|  
            .card.span1
              %p="##{card[:id]}"
              %p=card[:Owner]
              %p=card[:Subject]
  %tr
    %td="Miscellaneous Tasks"
    - lanes.each do |lane|
      %td
        - misc_cards(:lane => lane).each do |card|  
          .card.span1
            %p="##{card[:id]}"
            %p=card[:Owner]
            %p=card[:Subject]



    