%h5=caption
.row
  %div{class: "#{span} taskboard-label"}
  - lanes.each do |lane|
    %div{class: "#{span} taskboard-label"}
      %h6=lane
- streams.each do |stream|
  .row
    %div{class: "#{span} taskboard-label"}
      %h6=stream[:Subject]
    - lanes.each do |lane|
      - cards(:stream => stream, :lane => lane).each do |card|  
        .card
          %p=card[:id]
          %p=card[:Owner]
          %p=card[:Subject]


    