%h5=caption
%table.table.table-striped.table-bordered
  %tr 
    - headers.each do |header|
      %th=header.to_s.gsub(/_/," ").gsub(/([a-z])([A-Z])/, "\1 \2").capitalize
  - rows.each do |row|
    %tr
      - headers.each do |header|
        %td=row[header]
